@import url('//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css');

#main {
    text-align: center;
}

#tooltip {
    text-align: center;
}

.county {
    border: 1px solid white;
}

.map {
    display: inline-block;
}